#cart-button {
    position: absolute;
    right: 3vw;
    margin-top: auto;
    margin-bottom: auto;
    top: 35px;
    height: fit-content;
    color: #2F4B48;
    padding: 7px;
    transition: 0.5s;
}

#cart-button:hover {
    cursor: pointer;
    color: #7d9b97;
}

.sidebar-close {
    position: absolute;
    top: 60px;
    right: -15vw;
    width: 100px;
}

.sidebar-open {
    right: 0;
    width: 400px;
    background-color: #9BC1BC;
    z-index: 1;
    height: 100vh;
    padding: 10px;
    border-left: 5px solid #2F4B48;
    border-right: 5px solid #2F4B48;
}

#sidebar-header {
    display: flex;
    justify-content: space-between;
    color: #2F4B48;
}

#sidebar-header h3 {
    width: max-content;
    margin: 5px;
    vertical-align: middle;
    font-size: 25px;
    margin: 7px;
}

#nav-close-button {
    color: #2F4B48;
    transition: 0.5s;
}

#nav-close-button:hover {
    cursor: pointer;
    color: #7d9b97;
}

#item-headers {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#item-headers div {
    text-align: center;
    width: 20%;
}

#cart-items {
    margin-bottom: 10px;
}

#total {
    padding-top: 5px;
    border-top: 2px solid #2F4B48;
    font-size: 20px;
}