#open-button {
    position: absolute;
    right: 2vw;
    top: 50px;
}

.sidebar-open {
    right: 0;
    width: 400px;
    background-color: aliceblue;
    z-index: 1;
    height: 100vh;
}

.sidebar-close {
    position: absolute;
    top: 60px;
    right: -15vw;
    width: 100px;
}

#sidebar-header {
    display: flex;
    justify-content: space-between;
}

h3 {
    width: max-content;
    margin: 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}